/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

/* END DEMO */

/* .active {
  background-color: red;
} */
.anchorDog {
  width: 100px;
}
.brewdog {
  height: 100%;
  width: 100%;
}

.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* Nav.item {
  color: black;
} */
.link {
  font-family: 'Oswald', sans-serif;
  color: black;
  size: 5rem;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.link:hover {
  color: #ffe05d;
}
.linkText {
  size: 5rem;
}
