/* .container {
   width: 100vw !important; 
  margin: 0 !important;
  max-width: 100% !important;
}  */

.main {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  margin-bottom: 4%;
}



.row-cols-md-4>* {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 5%;
}

.row.row-cols-md-4{
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  margin-top: 5%;

}

.card-img-top{
  height:300px;
  object-fit:scale-down;
}
.card-title{
  text-align: center;
}
.card-text{
  text-align: center;
}
.card-body{
  object-fit: scale-down;
  height: 300px;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.fast {
  display: inline-block;
  text-align: center;
  font-family: neon;
  color: #fb4264;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 2vw #f40a35;
}

.flicker {
  display: inline-block;
  text-align: center;
  font-family: neon;
  color: #181d2e;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 2vw #2356ff;
}

.fast {
  animation: fast 1s ease infinite;
  -moz-animation: fast 1s ease infinite;
  -webkit-animation: fast 1s ease infinite;
}

@keyframes fast {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flicker {
  animation: flicker 2s linear infinite;
  -moz-animation: flicker 2s linear infinite;
  -webkit-animation: flicker 2s linear infinite;
  -o-animation: flicker 2s linear infinite;
}

@keyframes flicker {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

.searchdiv {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttondiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.anchorDog {
  width: 100px;
}
.brewdog {
  height: 100%;
  width: 100%;
}

.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.link {
  font-family: 'Oswald', sans-serif;
  color: black;
  size: 5rem;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.link:hover {
  color: #ffe05d;
}
.linkText {
  size: 5rem;
}
.homediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  padding-top: 20px;
  height: 100vh;
}
.homediv h1,
.homediv h2 {
  font-family: 'Oswald', sans-serif;
  color: black;
}
.dogs-and-beer {
  border-radius: 10px;
  margin: 30px 0;
  -webkit-box-shadow: 0px 0px 3px 5px #ffefa0;
  -moz-box-shadow: 0px 0px 3px 5px #ffefa0;
  box-shadow: 0px 0px 3px 5px #ffefa0;
}
